.cell {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 6rem;
    font-weight: 700;
    line-height: 34px;
    height: 10rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    box-shadow: 0px 0px 6px #888;
    width: 10rem;
    margin:0.4rem;
    border-radius: 10%;
    font-family: "Fredoka" , sans-serif;
  }

  .x {
    color: rgb(255 ,70,37);
  }

  .o{
    color: rgb(44,135,255);
  }
  
  .cell:hover{
    box-shadow:0px  0px 15px #888;
  }


  .cell:focus {
    outline: none;
  }